[submodule "iot-edge-sdk-samples"]
	path = iot-edge-sdk-samples
	url = https://github.com/ZengjfOS/iot-edge-sdk-samples
[submodule "iot-edge-sdk-for-iot-parser"]
	path = iot-edge-sdk-for-iot-parser
	url = https://github.com/baidu/iot-edge-sdk-for-iot-parser
